.parallax {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.block {
  height:100vh;
  width: 100vw;
  text-align: center;
  background-color: rgb(98, 78, 144);
}

.bg1 {
  background-image: url("/img/bg1.png");
}

.bg2 {
  background-image: url("/img/bg2.png");
}
