html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax {
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.block {
  width: 100vw;
  padding: 10vh 0;
  text-align: center;
  background-color: rgb(98, 78, 144);
  translateZ(-2px) scale(1.5);
}

.bg1 {
  background-image: url("/img/bg1.png");
}

.bg2 {
  background-image: url("/img/bg2.png");
}
