body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url(/img/bg1.png);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  text-align: center;
  width: 70%;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
